<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="TWITTER_API_KEY" value="" />
    <add key="TWITTER_API_SECRET" value="" />
    <add key="TWITTER_ACCESS_TOKEN" value="" />
    <add key="TWITTER_ACCESS_SECRET" value="" />
  </appSettings>
</configuration>